.expo-holder {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    font-family: impact;
    opacity: 1;
}


.expo-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 99%;
    overflow: hidden;
}

.work, .skills {
    display:grid;
    place-items: center;
    border: 1px white solid;
    height: 85%;
    background:purple;
}

.work {
    width: 40%;
}

.skills {
    width: 55%;
}

.skills-head, .business-head { 
    text-align: center;
    width:100%;
    z-index: 1;
}

.expo-flex-1 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background:blue;
    height:auto;
    margin-bottom:-10px
}

.companies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    transition: 1s;
    cursor: pointer;
    z-index: 2;
}

.icons:hover {
    transform: scale(105%);
}

.companies h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 20px;
}

.companies h4 {
    margin-top: 0;
    font-size: 16px;
    font-style: italic;
}

.resume {
    width:100%;
    background:red;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
  
.skills-head, .business-head {
    margin-top:-10px;
}
    .expo-flex-1 {
       
        margin-bottom:-50px;
    }

    .icons {
        width: 100px;
        height:100px;
    }

}

@media screen and (max-width: 1000px) {
    .expo-flex {
        flex-direction: column;
        width:100%;
    }

    .work, .skills {
        width: 100%;
    }
}