.expo-holder {
    display:grid;
        place-items:center;
        width:100%;
        height:100%;
        font-family: sans-serif; 
        opacity:1;
    }

    .fade-expo {
        opacity:1;
        transition:.5s
    }
    
    .experience-head {
        color:white;
        text-align: center;
        z-index: 1;
        margin-bottom:-10px;
    }

    .skills-head, .business-head {
        text-align: center;
        margin-top: 15px;
        margin-bottom:5px;
        z-index: 1;
    }

    .expo-flex {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height:70vh;
        width:99%;
        overflow: hidden;
    }

    .expo-flex-1, .expo-flex-2 {
        display:grid;
        place-items: center;
        width:95%;
        height:95%; 
    }

   

    .work, .skills{
        display:flex;
        flex-direction:column;
        align-items:center;
        background:black;
        border:1px white solid;
        height:85%;
    }

    .work {
        width:  55%;
    }

    .skills {
        width:40%;
    }

    .bottom {
        text-align: center;
        z-index: 1;
    }

    .company-holder {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:100%;
        border:1px solid red;
    }

    .companies {
        width:100%;
        display:grid;
        place-items: center;
        grid-template-columns: 20% 40% 40%;
    }

    .icons {
        height:50px;
        width:50px;
        border-radius:50%;
    }

    .companies h3 {
        font-size:20px;
    }
 
    .companies h4 {
        font-size:16px;
    }

    .resume {
        margin-top:-10px;
        cursor: pointer;
    }

