.dove-style {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

img {
    width:100%;
    height:auto;
}

.dove {
    opacity:1;
    transition:3s;
}

.showDoves {
    opacity:0; 
    transition:3s;
}

