body {
  display:grid;
  place-items:center;
  background: black;
  overflow: hidden;
  margin: 0;
  border: 0;
  width: 100%;
  font-family: Impact, sans-serif;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.main {
  color: white;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  overflow: hidden;
}

.main-container {
  background: rgba(0, 0, 0, .8);
  margin-top: 90px;
  height: 85vh;
  width: 85%;
  z-index: 1;
  overflow: hidden;
}

.content-head {
  width: 100%;
  text-align: center;
  z-index: 9;
}

.inner-container {
  width: 100%;
  height: 100%;

}

@media screen and (max-width: 1000px) {
  body {
    overflow: visible;
  }

  video {
    height: 120vh;
  }

  .main {
    margin-top: 1%;
    overflow: visible;
    display: grid;
    place-items: center;
  }

  .main-container {
    margin-top: 100px;
    width: 95%;
    overflow: visible;
  
  }
}

@media screen and (max-width: 900px) {
    .main-container {
      margin-top:110px;
    }
}

@media screen and (max-width: 800px) {
  .main-container {
    margin-top: 100px;
  }
}

@media screen and (max-width: 600px) {
  .content-head {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .main-container {
    margin-top: 200px;
    height: auto
  }
}

@media screen and (max-width: 400px) {
  .content-head {
    position:static;
  }
}